@font-face {
    src: url(/fonts/Poppins-Bold.ttf);
    font-family: PoppinsBold;
}

@font-face {
    font-family: PoppinsMedium;
    src: url(/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(/fonts/Poppins-Light.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box{
    border-style: solid;
    border-color: #c0c0c0;
    border-width: 1px;
    border-radius: 5px;
    width: 30%;
    min-width: 500px;
    box-shadow: 0px 4px 4px #00000040;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.username-input-style, .password-input-style{
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #00000040;
    margin: 0.5em;
    padding: .75em;
    width: 85%;
    font-family: PoppinsMedium;
    white-space: pre;
    padding-left: 2.8em;

}

.login-button-style{
    padding: .60em;
    background-color: #519CFF;
    border-style: none;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 5px;
    width: 85%;
    color: white;
    margin-top: 2%;
    font-size: 1em;
    font-family: PoppinsMedium;
    cursor: pointer;
}

.h1-style{
    color: #383838;
    font-family: PoppinsBold;
}

.a-forgotPassword-style{
    margin-top: 1em;
    text-decoration: none;
    color: #519CFF;
    font-size: 1em;
    font-family: PoppinsMedium;
}

.input-image-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.input-image-container img{
    position: absolute;
    left: 10%;
    top: 30%;
}

.username-input-style:focus{
    outline: none;
    border-color: #c0c0c0;
}

.password-input-style:focus{
    outline: none;
    border-color: #c0c0c0;
}

.login-button-style:active{
    background-color: #347edf;
}